@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, ninmac($val, 1fr));
  gap: 1.5rem;
}
@mixin button(
  $textColor: $primary-color,
  $backgroundColor: $white-color,
  $borderColor: $primary-color,
  $hoverColor: $white-color
) {
  display: inline-block;
  width: fit-content;
  padding: 0.4rem 2rem;
  border-radius: 0.4rem;
  background: $backgroundColor;
  border: 1px solid $borderColor;
  color: $textColor;
  font-size: 1rem;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
    background: lighten($backgroundColor, 8%);
  }
}

@mixin flex(
  $flexDirection: row,
  $alignItems: center,
  $justifyContent: space-between
) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}
