@import "fontawesome.scss";
@import "solid.scss";

@import "./partials/config";
@import "./partials/mixins.scss";
@import "./partials/globle";
@import "./partials/nav";
@import "./partials/header";
@import "./partials/about";
@import "./partials/educationexperience";
@import "./partials/skillslanguages";
@import "./partials/variables";
